.navbar
  .navbar-inner
    .container
      %a.brand{ :href => root_path } Student Task Force
      %ul.nav
        %li
          %a{ :href => new_task_path } Post a Task
        %li
          %a{ :href => "/apply" } Apply
        %li
          %a{ :href => "/about" } FAQS/Contact