.navbar
  .navbar-inner
    .container
      %a.brand{ :href => "#" } Student Task Force
      %ul.nav
        %li.active
          %a{ :href => "#" } Home
        %li
          %a{ :href => "#" } Post a Task
        %li
          %a{ :href => "#" } Apply
        %li
          %a{ :href => "#" } About Us
        %li
          %a{ :href => "#" } FAQs