:textile

  h2. Student Task Force

  h3. What is STF?
  
  We are a team that will free up your time by doing tasks for you.

  h3. What tasks does STF do?
  
  We help with numerous tasks such as window washing, car washing, yard clean up, store pickup, furniture assembly, or                whatever else you need! 

  h3. Who performs the Task?
  
  We are BYU students. We are trusted, hard working, and live by the honor code. You can trust us.

  h3. Where is STF operating?
  
  We are currently operating in the Provo/Orem but will eventually expand.

  h3. What are the hours of STF?
  
  Monday through Saturday from 8:00 am to 10:00 pm. 

  h3. How much does STF cost?
  
  You name your price. Normal tasks are usually around $20 to $30.
  
  h3. How can I contact you?
  
  Email us at: customer.service@rentthestudent.com
  Or call us (Toll Free) at: (877) 318-2568