%h2 What do we do?

:textile
  We connect people who need tasks to get done with BYU students who want to make some extra cash.

.step
  = image_tag "step1.png"
  :textile
    1. You post a task and name a price.

.step
  = image_tag "step2.png"
  :textile
    2. Students get the task done for you.
  
.step
  = image_tag "step3.png"
  :textile
    3. You get more free time,
    students get some extra cash.
  


%a#post.btn.btn-primary.btn-large{ :href => new_task_path } Post a Task