%h2 What do we do?

:textile
  We connect people who need tasks to get done with BYU students who want to make some extra cash.
  
%h2 How does it work?

:textile
  1. You post a task and name a price.
  2. Students get notified of the task and the price.
  3. The student accepts the deal, performs the task, and gets paid.

%a.btn.btn-primary.btn-large{ :href => new_task_path } Post a Task