%h1 How does it work?

#steps
  .step
    :textile
      You
      post a task
      and name a price
  
    %a{ :href => "#" } Learn more...

  .step
    :textile
      A student
      gets it done
      for you on time
  
    %a{ :href => "#" } Learn more...
    
  .step
    :textile
      You save time.
      A student makes
      some extra money
  
    %a{ :href => "#" } Learn more...