// Home

#main > p, .step > p {
  font-size: 1.2em;
}

form {
  margin-top: 2em;
  
  label {
    margin-top: 1em;
  }
  
  .help-block {
    width: 30%;
  }
}

.step {
  margin-top: 2em;
  width: 30%;
  float: left;
  text-align: center;
}

#post {
  margin-left: 3em;
}

#about {
  h3 {
    margin-bottom: .5em;
  }
  
  p {
    width: 50%;
    font-size: 1.2em;
    margin-bottom: 2em;
  }
}